# Data Exploration
## Read Given Files in MOOCCube Folder

There were too many files with massive data. In order to look through data, all txt, json, and csv data are convered into DataFrame.
Most of text data are written in Chinese. To proceed this project, Chorme Extension (Google Translate) has been used to understand the data.

In [1]:
import pandas as pd
import json
from pandas import json_normalize

## 'entities_folder

In [2]:
concept = []
for line in open(r"\MOOCCube\entities\concept.json", 'r', encoding='utf-8'):
    concept.append(json.loads(line))
df_concept = pd.DataFrame(concept)
df_concept.head()

,id,name,en,explanation
0,K_《三国史记》_世界历史,《三国史记》,History of Three States in Ancient Korea,学科：世界历史_古代中世纪_东北亚 定义：朝鲜现存的最古史书，1145年高丽王朝的学者金富轼...
1,K_T_世界历史_世界历史,世界历史,NaN,NaN
2,K_T_古代中世纪_世界历史,古代中世纪,NaN,NaN
3,K_T_东北亚_世界历史,东北亚,NaN,NaN
4,K_《三国遗事》_世界历史,《三国遗事》,San Guo Yi Shi,学科：世界历史_古代中世纪_东北亚 定义：朝鲜古书名称，为新罗、百济、高句丽三国遗事逸闻的汇...

In [3]:
course = []
for line in open(r"\MOOCCube\entities\course.json", 'r', encoding='utf-8'):
    course.append(json.loads(line))
df_course = pd.DataFrame(course)
df_course.head()

,id,name,prerequisites,about,core_id,video_order,display_name,chapter
0,C_course-v1:McGillX+ATOC185x+2015_T1,自然灾害（自主模式）,无,<p>地球上没有一处地方不发生自然灾害。当我们以科学的眼光看待这些自然灾害的原因和本质时，我...,C_course-v1:McGillX+ATOC185x+2015_T1,"[V_f6f710068b994452885b90e11b6ee5c5, V_7339568...","[Video: Overview 1, Video: Overview 2, Video: ...","[01.02.01.02, 01.02.03.02, 01.02.05.02, 01.02...."
1,C_course-v1:TsinghuaX+THESIS2015X+2015_T1,2015年清华大学研究生学位论文答辩（二）,无先修要求,<p>学位论文答辩环节是研究生培养的重要环节，为了充分发挥该环节的育人作用，搭建学术交流的平...,C_course-v1:TsinghuaX+THESIS2015X+2015_T1,"[V_de0371575a9f4b5391c89ad16d68b5c2, V_d632034...","[答辩陈述, 答辩陈述, 问答及答辩结果, 答辩陈述, 问答及答辩结果, 答辩陈述, 问答及...","[01.01.03.01, 01.02.03.01, 01.02.04.01, 01.03...."
2,C_course-v1:TsinghuaX+THESIS2014_1X_tv+_2014_,2014年清华大学研究生学位论文答辩（一）,无先修要求,<p>学位论文答辩环节是研究生培养的重要环节，为了充分发挥该环节的育人作用，搭建学术交流的平...,C_course-v1:TsinghuaX+THESIS2014_1X_tv+_2014_,"[V_d530be9cc0584317a16706684577a6dd, V_f329a62...","[论文答辩实况, 问答及答辩结果, 导师评价, 同学眼中的王鑫, 个人学术感言, 吴宇恩答辩...","[01.01.03.01, 01.01.04.01, 01.01.05.01, 01.01...."
3,C_course-v1:TsinghuaX+THESIS2015X_tv+2015_T1,2015年清华大学研究生学位论文答辩（一）,无先修要求,<p>学位论文答辩环节是研究生培养的重要环节，为了充分发挥该环节的育人作用，搭建学术交流的平...,C_course-v1:TsinghuaX+THESIS2015X+2015_T1,"[V_de0371575a9f4b5391c89ad16d68b5c2, V_78a8b41...","[答辩陈述, 问答及答辩结果, 答辩陈述, 问答及答辩结果, 答辩陈述, 问答及答辩结果, ...","[01.01.03.01, 01.01.04.01, 01.02.03.01, 01.02...."
4,C_course-v1:TsinghuaX+00690242+sp,文物精品与文化中国（自主模式）,无,<p>中国考古学是以往100年中发展最为迅速的领域之一，大批珍贵文物的出土，不断刷新人们对文...,C_course-v1:TsinghuaX+00690242+sp,"[V_d7dbd0fe8f504e7a91d863cd5a19b185, V_4492eca...","[文献所见原始渡河工具, 《禹贡》所见的水路交通, 绰墩山出土的渡河浮木, 舟船考古发掘, ...","[01.01.01.01, 01.01.02.01, 01.02.01.01, 01.03...."

In [4]:
paper = []
for line in open(r"\MOOCCube\entities\paper.json", 'r', encoding='utf-8'):
    paper.append(json.loads(line))
df_paper = pd.DataFrame(paper)
df_paper.head()

,id,name,abstract,authors,doi,lang,num_citation,pdf,sourcetype,title,venue,year,pages,urls
0,P_53e9a3c7b7602d9702cd6212,,,"[{'id': '53f42758dabfaeb22f3ca5f6', 'name': 'S...",,en,66779,,publication,Gapped BLAST and PSI-BLAST: a new generation o...,"{'info': {'name': 'Nucleic Acids Research'}, '...",1992,NaN,NaN
1,P_53e9b394b7602d9703e763a6,,The BLAST programs are widely used tools for s...,"[{'id': '53f493ebdabfaeb22f5721de', 'name': 'S...",10.1093/nar/25.17.3389,en,62159,NaN,publication,Gapped BLAST and PSI-BLAST: a new generation o...,"{'info': {'name': 'Nucleic Acids Research'}, '...",1997,"{'end': '3402', 'start': '3389'}",[http://dx.doi.org/10.1093/nar/25.17.3389]
2,P_53e9b394b7602d9703e763a7,,,"[{'id': '53f45132dabfaee43eca87e2', 'name': 'S...",,en,54551,NaN,publication,Gapped-BLAST and PSI-BLAST: a new generation o...,"{'info': {'name': 'Nucleic Acids Research'}, '...",1991,NaN,NaN
3,P_56d8f7eedabfae2eee9fa740,,,"[{'id': '5629f12245ce1e5966639777', 'name': 'n...",10.1017/CBO9781139649551,en,23496,NaN,publication,The minimalist program,"{'info': {'name': 'Language'}, 'issue': '', 'v...",1995,"{'end': '', 'start': ''}",[http://dx.doi.org/10.1017/CBO9781139649551]
4,P_53e9aa48b7602d97033b7da1,,We present Greedy Perimeter Stateless Routing ...,"[{'id': '53f43a9fdabfaee4dc7aac6d', 'name': 'B...",10.1145/345910.345953,en,9390,//static.aminer.org/pdf/PDF/000/505/674/gpsr_g...,publication,GPSR: greedy perimeter stateless routing for w...,"{'info': {'name': 'MobiCom'}, 'issue': '', 'vo...",2000,"{'end': '254', 'start': '243'}","[http://dx.doi.org/10.1145/345910.345953, http..."

In [5]:
school = []
for line in open(r"\MOOCCube\entities\school.json", 'r', encoding='utf-8'):
    school.append(json.loads(line))
df_school = pd.DataFrame(school)
df_school.head()

        id    name                                              about
0    S_BNU  北京师范大学  北京师范大学（Beijing Normal University）简称“北师大”，由中华人民...
1    S_UQx   昆士兰大学  昆士兰大学（The University of Queensland），简称昆大，世界50强...
2  S_UESTC  电子科技大学  电子科技大学（University of Electronic Science and Te...
3    S_BIT  北京理工大学  北京理工大学（Beijing Institute of Technology）简称北理工，由...
4    S_JNU    暨南大学  暨南大学（Jinan University），简称“”暨大（JNU），位于广东省广州市，是中...

In [6]:
teacher = []
for line in open(r"\MOOCCube\entities\teacher.json", 'r', encoding='utf-8'):
    teacher.append(json.loads(line))
df_teacher = pd.DataFrame(teacher)
df_teacher.head()

      id name                                              about
0  T_方维奇  方维奇  方维奇，男，陕西工业职业技术学院教师，讲师。主持并参与院级科研项目3项，发表教科研论文13篇...
1  T_范茂魁  范茂魁  范茂魁（1979-）男，教授，硕士学位，教龄17年，主要从事《消防燃烧学》、《化学基础》、《...
2  T_连小珉  连小珉  连小珉，男，1955年生于重庆。清华大学教授，清华大学机械工程学位分委会副主席。中国汽车工程...
3  T_张德顺  张德顺  张德顺,1964年生,同济大学建筑与城市规划学院高密度人居环境生态与节能 教育部重点实验室教...
4   T_王红   王红  王红，硕士，教授，硕士生导师。长期从事寄生虫学教学 与科研工作。教学方面，独立系统地担任了本...

In [7]:
user = []
for line in open(r"\MOOCCube\entities\user.json", 'r', encoding='utf-8'):
    user.append(json.loads(line))
df_user = pd.DataFrame(user)
df_user.head()

,id,name,course_order,enroll_time
0,U_7001215,李喜锋,"[C_course-v1:TsinghuaX+00740043_2x_2015_T2+sp,...","[2017-05-01 11:07:53, 2017-05-17 10:07:17, 201..."
1,U_10402446,五元香,"[C_course-v1:TsinghuaX+00510888X+2019_T1, C_co...","[2019-06-14 08:50:04, 2019-01-04 20:36:07]"
2,U_10359065,魏珊,"[C_course-v1:TsinghuaX+00612642X+sp, C_course-...","[2019-01-18 21:19:56, 2019-01-14 21:54:54]"
3,U_7423998,郭海滨,"[C_course-v1:TsinghuaX+30240184_2X+sp, C_cours...","[2017-08-16 10:38:11, 2018-07-01 18:24:24, 201..."
4,U_545306,李其艳,"[C_course-v1:TsinghuaX+20430064_2X+sp, C_cours...","[2018-09-05 15:40:40, 2019-02-28 10:08:49, 201..."

In [8]:
video = []
for line in open(r"\MOOCCube\entities\video.json", 'r', encoding='utf-8'):
    video.append(json.loads(line))
df_video = pd.DataFrame(video)
df_video.head()

,id,name,start,end,text
0,V_c20d824ce5f440b4bfc7ac7c4146735a,4-1协商解除劳动合同的操作,"[39460, 43010, 45060, 48690, 50780, 53170, 554...","[43010, 45060, 48690, 50780, 53170, 55460, 617...","[刘老师，解除劳动合同是在劳动合同订立后, 又没有全部履行完毕以前, 由于某种原因导致劳动合..."
1,V_d290e25363644cb8aae46890b7f3382f,任务1唐诗赏析软件设计,"[705, 2983, 5460, 9002, 14622, 16571, 20474, 2...","[1500, 4792, 8398, 11980, 16372, 20132, 23181,...","[今天我们要完成的任务是, “唐诗赏析软件”设计, 程序运行之后显示如下界面, 该界面显示了..."
2,V_8d10a4e2dfb348c986323147a381f870,11-3 课件视频与讲义,"[19087, 19699, 28003, 30770, 34652, 37064, 422...","[19549, 23442, 30518, 34294, 36725, 39174, 434...","[大家好, 本讲将讲解北京极端出行的探索性分析, 本讲主要会包括以下几部分, 研究目的 数据..."
3,V_41e00905386a41b4b3db854a3def7a56,7-4 矩阵的对角化问题,"[20838, 23239, 25331, 27919, 32499, 36927, 401...","[23150, 25274, 27857, 32460, 36897, 40128, 424...","[同学们 大家好, 欢迎来到MOOC课程, 线性代数先修课, 第7章 矩阵的特征值理论, 7..."
4,V_e8b549847e8d452dbc4b48bd38eca7b3,如何识别哮喘,"[23860, 24671, 27391, 28954, 30674, 33796, 357...","[24422, 27046, 28705, 30390, 33608, 35485, 387...","[请问医生, 为什么说我老公得了哮喘呢, 让我们先来了解一下, 什么是支气管哮喘, 哮喘全称..."

### 'additional_information_folder

In [9]:
concept_infomation = []
for line in open(r"\MOOCCube\additional_information\concept_infomation.json", 'r', encoding='utf-8'):
    concept_infomation.append(json.loads(line))
df_concept_information = pd.DataFrame(concept_infomation)
df_concept_information.head()

,name,baidu_snippet_zh,google_translation,wiki_abstract,baidu_abstract,properties,bing_snippet_en
0,《三国史记》,"[{'title': '《三国史记》是什么时代作品?_百度知道', 'url': 'http...",The History of the Three Kingdoms,NaN,NaN,NaN,NaN
1,世界历史,"[{'title': '世界历史_百度百科', 'url': 'http://www.bai...",world history,'''世界历史'''，简称'''世界史'''，又称'''人类史'''，一般是指有[[人类]]...,该片共100集，讲述了由 [[新石器时代]]直到 [[万隆会议]]的世界历史进程，由中央电视...,"{'技巧': '运用相关学科如[[文化人类学]]', '主要任务': '是以世界全局的观点'...",NaN
2,古代中世纪,"[{'title': '世界古代中世纪史_百度百科', 'url': 'http://www...",Ancient medieval,NaN,NaN,NaN,NaN
3,东北亚,"[{'title': '东北亚_百度百科', 'url': 'http://www.baid...",North-east Asia,NaN,NaN,NaN,NaN
4,《三国遗事》,"[{'title': '《三国史记》与《三国遗事》比较研究 - 豆丁网', 'url': '...",The Three Kingdoms,NaN,NaN,NaN,NaN

In [10]:
prerequisite_prediction = []
for line in open(r"\MOOCCube\additional_information\prerequisite_prediction.json", 'r', encoding='utf-8'):
    prerequisite_prediction.append(json.loads(line))
df_prerequisite_prediction = pd.DataFrame(prerequisite_prediction)
df_prerequisite_prediction.head()

   c1     c2  label                                      predict
0  B树   IP地址     -1  [0.9997708380222321, 0.0002291518361744238]
1  B树  KMP算法     -1    [0.8503086388111114, 0.14969135709106923]
2  B树   ML语言     -1    [0.9556086957454681, 0.04439132527331822]
3  B树  NP难问题     -1   [0.9693906366825104, 0.030609371478203685]
4  B树   S完备化     -1   [0.9939759790897369, 0.006024028716637986]

In [11]:
user_video_act = []
for line in open(r"\MOOCCube\additional_information\user_video_act.json", 'r', encoding='utf-8'):
    user_video_act.append(json.loads(line))
df_user_video_act = pd.DataFrame(user_video_act)
df_user_video_act.head()

          id                                           activity
0  U_8126464  [{'course_id': 'C_course-v1:TsinghuaX+00740123...
1  U_8650752  [{'course_id': 'C_course-v1:TsinghuaX+00740043...
2   U_131074  [{'course_id': 'C_course-v1:TsinghuaX+30240184...
3   U_262145  [{'course_id': 'C_course-v1:BIT+BIT2016001+sp'...
4  U_1441801  [{'course_id': 'C_course-v1:TsinghuaX+20150001...

### 'Relations_Folder

In [12]:
df_concept_field = pd.read_csv(r"\MOOCCube\relations\concept-field.json", sep="	", header=None)
df_concept_field.columns = ["concept", "field"]
df_concept_field.head()

          concept          field
0   K_《三国史记》_世界历史  K_T_世界历史_世界历史
1   K_T_世界历史_世界历史  K_T_世界历史_世界历史
2  K_T_古代中世纪_世界历史  K_T_世界历史_世界历史
3    K_T_东北亚_世界历史  K_T_世界历史_世界历史
4   K_《三国遗事》_世界历史  K_T_世界历史_世界历史

In [13]:
df_concept_paper = pd.read_csv(r"C:\Users\USER\Desktop\YEAR3 SEM2\COMP4135\Project\MOOCCube\relations\concept-paper.json", sep="	", header=None)
df_concept_paper.columns = ["concept", "paper"]
df_concept_paper.head()

            concept                       paper
0  K_贪婪程序攻击_计算机科学技术  P_53e9a3c7b7602d9702cd6212
1  K_贪婪程序攻击_计算机科学技术  P_53e9b394b7602d9703e763a6
2  K_贪婪程序攻击_计算机科学技术  P_53e9b394b7602d9703e763a7
3  K_贪婪程序攻击_计算机科学技术  P_56d8f7eedabfae2eee9fa740
4  K_贪婪程序攻击_计算机科学技术  P_53e9aa48b7602d97033b7da1

In [14]:
df_course_concept = pd.read_csv(r"\MOOCCube\relations\course-concept.json", sep="	", header=None)
df_course_concept.columns = ["course", "concept"]
df_course_concept.head()

                               course      concept
0  C_course-v1:KMUSTX+1803168+2019_T1     K_活性炭_化学
1  C_course-v1:KMUSTX+1803168+2019_T1      K_内切_数学
2  C_course-v1:KMUSTX+1803168+2019_T1  K_缺陷_管理科学技术
3  C_course-v1:KMUSTX+1803168+2019_T1     K_氨基酸_化学
4  C_course-v1:KMUSTX+1803168+2019_T1    K_寡核苷酸_化学

In [15]:
df_course_video = pd.read_csv(r"\MOOCCube\relations\course-video.json", sep="	", header=None)
df_course_video.columns = ["course", "Videos"]
df_course_video.head()

                               course                              Videos
0  C_course-v1:qhnu+20181212x+2018_T2  V_9c284584332441e7a6f9d23d3d34a2c4
1  C_course-v1:qhnu+20181212x+2018_T2  V_7a99fc83f4d144c4b70358a276d018b8
2  C_course-v1:qhnu+20181212x+2018_T2  V_53e001aa64a44de187dd40d34a943c82
3  C_course-v1:qhnu+20181212x+2018_T2  V_4c97f6861f6342f2880a7a066079e64f
4  C_course-v1:qhnu+20181212x+2018_T2  V_74d8fb7c8e3f402389b397bed7c852d2

In [16]:
df_parent_son = pd.read_csv(r"\MOOCCube\relations\parent-son.json", sep="	", header=None)
df_parent_son.columns = ["parent", "son"]
df_parent_son.head()

           parent             son
0   K_T_世界历史_世界历史  K_T_古代中世纪_世界历史
1  K_T_古代中世纪_世界历史    K_T_东北亚_世界历史
2    K_T_东北亚_世界历史   K_《三国史记》_世界历史
3    K_T_东北亚_世界历史   K_《三国遗事》_世界历史
4    K_T_东北亚_世界历史    K_一向宗暴动_世界历史

In [17]:
df_prerequisite_dependency = pd.read_csv(r"\MOOCCube\relations\prerequisite-dependency.json", sep="	", header=None)
df_prerequisite_dependency.columns = ["prerequisite", "dependency"]
df_prerequisite_dependency.head()

       prerequisite     dependency
0   K_计算机科学_计算机科学技术  K_服务器_计算机科学技术
1  K_服务数据单元_计算机科学技术   K_缓存_计算机科学技术
2           K_代数_数学      K_对偶定理_数学
3           K_乘法_数学        K_函数_数学
4           K_加法_数学      K_关联矩阵_数学

In [18]:
df_school_course = pd.read_csv(r"\MOOCCube\relations\school-course.json", sep="	", header=None)
df_school_course.columns = ["school", "course"]
df_school_course.head()

  school                               course
0  S_BNU  C_course-v1:BNU+CSL21148501+2018_T2
1  S_BNU  C_course-v1:BNU+GE310141091+2019_T1
2  S_BNU  C_course-v1:BNU+2017112001X+2019_T1
3  S_BNU  C_course-v1:BNU+2018122603X+2018_T2
4  S_BNU  C_course-v1:BNU+CSL21126882+2019_T1

In [19]:
df_school_teacher = pd.read_csv(r"\MOOCCube\relations\school-teacher.json", sep="	", header=None)
df_school_teacher.columns = ["school", "teacher"]
df_school_teacher.head()

  school teacher
0  S_BNU    T_张燕
1  S_BNU   T_陈蒨蒨
2  S_BNU   T_王文周
3  S_BNU   T_马俊伟
4  S_BNU   T_成卫东

In [20]:
df_teacher_course = pd.read_csv(r"\MOOCCube\relations\teacher-course.json", sep="	", header=None)
df_teacher_course.columns = ["teacher", "course"]
df_teacher_course.head()

  teacher                                     course
0   T_方维奇            C_course-v1:SPI+20170828001x+sp
1   T_方维奇      C_course-v1:SXPI+20170828001x+2019_T1
2   T_范茂魁      C_course-v1:PSFFC+2018102405X+2018_T2
3   T_连小珉  C_course-v1:TsinghuaX+70150104_2X+2019_T1
4   T_连小珉    C_course-v1:TsinghuaX+70150104X+2019_T1

In [21]:
df_user_course = pd.read_csv(r"\MOOCCube\relations\user-course.json", sep="	", header=None)
df_user_course.columns = ["user", "course"]
df_user_course.head()

        user                                        course
0  U_7001215  C_course-v1:TsinghuaX+00740043_2x_2015_T2+sp
1  U_7001215             C_course-v1:TsinghuaX+30240184+sp
2  U_7001215    C_course-v1:TsinghuaX+00740043X_2015_T2+sp
3  U_7001215     C_course-v1:TsinghuaX+10421094X_2015_2+sp
4  U_7001215          C_course-v1:TsinghuaX+30240184_2X+sp

In [22]:
df_user_video = pd.read_csv(r"\MOOCCube\relations\user-video.json", sep="	", header=None)
df_user_video.columns = ["user", "video"]
df_user_video.head()

        user                               video
0  U_7001215  V_7321f00db10b461f93039df886fe9e8f
1  U_7001215  V_90684a19b5df46c4a0dc35b42c999cbe
2  U_7001215  V_76332d32c247420db4c47bb782dd1b54
3  U_7001215  V_0d84c5da36f344369629c538a8a05b1d
4  U_7001215  V_00a75596b54a48778482dc8cd002d3c4

In [23]:
df_video_concept = pd.read_csv(r"\MOOCCube\relations\video-concept.json", sep="	", header=None)
df_video_concept.columns = ["video", "concept"]
df_video_concept.head()

                                video        concept
0  V_9f3cc65bd68447b3b489be6ba8510a39      K_生物合成_化学
1  V_9f3cc65bd68447b3b489be6ba8510a39      K_结合位点_化学
2  V_9f3cc65bd68447b3b489be6ba8510a39      K_遗传信息_数学
3  V_9f3cc65bd68447b3b489be6ba8510a39  K_信息传递_管理科学技术
4  V_9f3cc65bd68447b3b489be6ba8510a39  K_环境保护_管理科学技术

### 'Tuples_Folder

In [24]:
# MOOCCQA - tuples folder
df_IDconcept = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\concept.csv")
df_IDcourse = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\course.csv")
df_IDpaper = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\paper.csv")
df_IDschool = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\school.csv")
df_IDteacher = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\teacher.csv")
df_IDuser = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\user.csv")
df_IDvideo = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\video.csv")

df_IDrel_concept_paper = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\rel_concept_paper.csv")
df_IDrel_course_concept = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\rel_course_concept.csv")
df_IDrel_course_video = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\rel_course_video.csv")
df_IDrel_field_concept = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\rel_field_concept.csv")
df_IDrel_prerequisite_dependency = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\rel_prerequisite_dependency.csv")
df_IDrel_school_course = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\rel_school_course.csv")
df_IDrel_school_teacher = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\rel_school_teacher.csv")
df_IDrel_teacher_course = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\rel_teacher_course.csv")
df_IDrel_user_course = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\rel_user_course.csv")
df_IDrel_user_video = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\rel_user_video.csv")
df_IDrel_video_concept = pd.read_csv(r"\MOOCCube\MOOCQA\tuples\rel_video_concept.csv")

In [25]:
df_IDconcept.head()

                id   name
0     K_B树_计算机科学技术     B树
1   K_IP地址_计算机科学技术   IP地址
2  K_KMP算法_计算机科学技术  KMP算法
3   K_ML语言_计算机科学技术   ML语言
4   K_S完备化_计算机科学技术   S完备化

In [26]:
df_IDcourse.head()

                                              id                name
0           C_course-v1:McGillX+ATOC185x+2015_T1                自然灾害
1      C_course-v1:TsinghuaX+THESIS2015X+2015_T1  2015年清华大学研究生学位论文答辩
2  C_course-v1:TsinghuaX+THESIS2014_1X_tv+_2014_  2014年清华大学研究生学位论文答辩
3   C_course-v1:TsinghuaX+THESIS2015X_tv+2015_T1  2015年清华大学研究生学位论文答辩
4              C_course-v1:TsinghuaX+00690242+sp           文物精品与文化中国

In [27]:
df_IDpaper.head()

,id,name
0,P_53e9a335b7602d9702c3f01c,Multidimensional binary search trees used for ...
1,P_53e9a335b7602d9702c3f01c,Multidimensional binary search trees used for ...
2,P_53e99a6eb7602d97022dfedf,Optimum binary search trees
3,P_53e99a6eb7602d97022dfedf,Optimum binary search trees
4,P_53e99eb5b7602d970277d0f7,Multidimensional Binary Search Trees in Databa...

In [28]:
df_IDschool.head()

        id    name
0    S_BNU  北京师范大学
1    S_UQx   昆士兰大学
2  S_UESTC  电子科技大学
3    S_BIT  北京理工大学
4    S_JNU    暨南大学

In [29]:
df_IDteacher.head()

      id name
0   T_李楠   李楠
1  T_吕冀蜀  吕冀蜀
2   T_苗棣   苗棣
3  T_王瑀屏  王瑀屏
4  T_施太和  施太和

In [30]:
df_IDuser.head()

           id name
0  U_10384829   果芯
1  U_10521268  苏鸿斌
2   U_2464581  陆秀贞
3   U_8452203  刘力坚
4  U_10501649   卞冬

In [31]:
df_IDvideo.head()

                                   id           name
0  V_3c9724c39e6c4cab8dc474b93f4f6b9b  网络技术与应用第1章第1节
1  V_44cced710eeb4bf09beb4de81f28d2e3  网络技术与应用第2章第1节
2  V_aea7998be22e4c399d0e76368e8a2bb1  网络技术与应用第2章第2节
3  V_2dbf3a39b8f34c488363a69cf03e5aab  网络技术与应用第2章第3节
4  V_93178585edcd413abad7b6b113ae7346  网络技术与应用第2章第4节

In [32]:
df_IDrel_concept_paper.head()

          start_id                      end_id
0   K_二分搜索_计算机科学技术  P_53e9a335b7602d9702c3f01c
1  K_二叉查找树_计算机科学技术  P_53e9a335b7602d9702c3f01c
2   K_二分搜索_计算机科学技术  P_53e99a6eb7602d97022dfedf
3  K_二叉查找树_计算机科学技术  P_53e99a6eb7602d97022dfedf
4   K_二分搜索_计算机科学技术  P_53e99eb5b7602d970277d0f7

In [33]:
df_IDrel_course_concept.head()

                                    start_id        end_id
0       C_course-v1:TsinghuaX+30240184_2X+sp  K_B树_计算机科学技术
1          C_course-v1:TsinghuaX+30240184+sp  K_B树_计算机科学技术
2            C_course-v1:SCUT+145055+2018_T2  K_B树_计算机科学技术
3                 C_course-v1:SCUT+145055+sp  K_B树_计算机科学技术
4  C_course-v1:TsinghuaX+70240183x_1+2019_T1  K_B树_计算机科学技术

In [34]:
df_IDrel_course_video.head()

                             start_id                              end_id
0  C_course-v1:TsinghuaX+30240243X+sp  V_7b6411087c5b4742a3b883068c674d22
1  C_course-v1:TsinghuaX+30240243X+sp  V_3746851beaf34d6c88570bc03877a97c
2  C_course-v1:TsinghuaX+30240243X+sp  V_9d80e6426e744a6b9e77af19685cf4ee
3  C_course-v1:TsinghuaX+30240243X+sp  V_08f56c1dae4f4c828b9987d60b78a59d
4  C_course-v1:TsinghuaX+30240243X+sp  V_e69445f98a7c4ca68a7f0c430bb6799f

In [35]:
df_IDrel_field_concept.head()

          start_id          end_id
0  K_T_数据库_计算机科学技术  K_事件检测_计算机科学技术
1        K_T_算术_数学        K_二进制_数学
2       K_T_凸分析_数学       K_仿射函数_数学
3      K_T_参数估计_数学         K_似然_数学
4      K_T_参数估计_数学       K_似然函数_数学

In [36]:
df_IDrel_prerequisite_dependency.head()

          start_id          end_id
0    K_协议族_计算机科学技术  K_IP地址_计算机科学技术
1     K_域名_计算机科学技术  K_IP地址_计算机科学技术
2  K_消息鉴别码_计算机科学技术  K_IP地址_计算机科学技术
3    K_以太网_计算机科学技术  K_IP地址_计算机科学技术
4    K_传输层_计算机科学技术  K_IP地址_计算机科学技术

In [37]:
df_IDrel_school_course.head()

      start_id                                         end_id
0    S_McGillX           C_course-v1:McGillX+ATOC185x+2015_T1
1  S_TsinghuaX      C_course-v1:TsinghuaX+THESIS2015X+2015_T1
2  S_TsinghuaX  C_course-v1:TsinghuaX+THESIS2014_1X_tv+_2014_
3  S_TsinghuaX   C_course-v1:TsinghuaX+THESIS2015X_tv+2015_T1
4  S_TsinghuaX              C_course-v1:TsinghuaX+00690242+sp

In [38]:
df_IDrel_school_teacher.head()

      start_id end_id
0        S_QLU   T_李楠
1    S_PekingX   T_李楠
2        S_CUC   T_李楠
3  S_TsinghuaX  T_吕冀蜀
4       S_XJTU   T_苗棣

In [39]:
df_IDrel_teacher_course.head()

        start_id                                         end_id
0    T_John Stix           C_course-v1:McGillX+ATOC185x+2015_T1
1  T_John Gyakum           C_course-v1:McGillX+ATOC185x+2015_T1
2         T_研究生院      C_course-v1:TsinghuaX+THESIS2015X+2015_T1
3         T_研究生院  C_course-v1:TsinghuaX+THESIS2014_1X_tv+_2014_
4         T_研究生院   C_course-v1:TsinghuaX+THESIS2015X_tv+2015_T1

In [40]:
df_IDrel_user_course.head()

    start_id                                     end_id
0   U_252158       C_course-v1:McGillX+ATOC185x+2015_T1
1  U_8510835       C_course-v1:McGillX+ATOC185x+2015_T1
2   U_148566       C_course-v1:McGillX+ATOC185x+2015_T1
3  U_5252862  C_course-v1:TsinghuaX+THESIS2015X+2015_T1
4   U_116651  C_course-v1:TsinghuaX+THESIS2015X+2015_T1

In [41]:
df_IDrel_user_video.head()

    start_id                              end_id
0  U_2757892  V_7b6411087c5b4742a3b883068c674d22
1  U_9533038  V_7b6411087c5b4742a3b883068c674d22
2  U_6625341  V_7b6411087c5b4742a3b883068c674d22
3  U_9686226  V_7b6411087c5b4742a3b883068c674d22
4  U_5756882  V_7b6411087c5b4742a3b883068c674d22

In [42]:
df_IDrel_video_concept.head()

                             start_id        end_id
0  V_285aea76d87a490eb4e3a9b176cbe948  K_B树_计算机科学技术
1  V_ef5a8a94c32b4532bf40ce5074bebe42  K_B树_计算机科学技术
2  V_54986f4f13134ee2819a844772e325ed  K_B树_计算机科学技术
3  V_b6218dde29f9418980173dc03f39ea2b  K_B树_计算机科学技术
4  V_146950dd55244649b896d7a65d3aef54  K_B树_计算机科学技术

### 'MultiHop_Files

In [43]:
# MOOCCQA - MultiHop folder
df_multihop = pd.read_csv(r"\MOOCCube\MOOCQA\multi_hop\multihop.txt", sep="	", header=None)
df_multihop_A = pd.read_csv(r"\MOOCCube\MOOCQA\multi_hop\multihop_A.txt", sep="	", header=None)
df_multihop_B = pd.read_csv(r"\MOOCCube\MOOCQA\multi_hop\multihop_B.txt", sep="	", header=None)
df_multihop_C = pd.read_csv(r"\MOOCCube\MOOCQA\multi_hop\multihop_C.txt", sep="	", header=None)

In [44]:
df_multihop.head()

,0,1,2,3,4,5
0,邓俊辉的课程中讲解分类和向量的视频有什么？,[T_邓俊辉]的课程中讲解[K_分类_计算机科学技术]和[K_向量_数学]的视频有什么？,老师_概念_视频,数据结构第8章第1节|数据结构第11章第2节,V_0c8cbdd4485541fcaf10453b989a8826|V_4bb5e3a21...,A
1,邱泽琼和陆秀贞都选了数据结构上这门课对么？,[U_685182]和[U_2464581]都选了[C_course-v1:Tsinghua...,用户_课程_用户,是,None,B
2,徐明星讲的课中同时包含数据类型和输入输出的视频有多少？,[T_徐明星]讲的课中同时包含[K_数据类型_计算机科学技术]和[K_输入输出_计算机科学技...,老师_概念_视频,3,V_e9965cd7ae1943ad901b616e76702b6e|V_2a8b4c562...,C
3,哪些老师教过姚运生？,哪些老师教过[U_10316780]？,用户_课程_老师,李超|郑莉|徐明星,T_李超|T_郑莉|T_徐明星,A
4,王建安老师是阿德莱德大学教葡萄酒的世界：从葡萄到美酒这门课的老师么？,[T_王建安]老师是[S_AdelaideX]教[C_course-v1:AdelaideX...,学校_老师_课程,否,None,B

In [45]:
df_multihop_A.head()

,0,1,2,3,4,5
0,邓俊辉的课程中讲解分类和向量的视频有什么？,[T_邓俊辉]的课程中讲解[K_分类_计算机科学技术]和[K_向量_数学]的视频有什么？,老师_概念_视频,数据结构第8章第1节|数据结构第11章第2节,V_0c8cbdd4485541fcaf10453b989a8826|V_4bb5e3a21...,A
1,讲了传递函数的数据结构上课程还讲了什么概念？,讲了[K_传递函数_数学]的[C_course-v1:TsinghuaX+30240184+...,概念_课程_概念,连通图|数据对象|结点|连通域|溢出|几何分布|函数|完全类|ML语言|可达区域|栈顶|调和...,K_连通图_数学|K_数据对象_计算机科学技术|K_结点_数学|K_连通域_计算机科学技术|...,A
2,高俞上过的课程的老师有谁？,[U_10800550]上过的课程的老师有谁？,用户_课程_老师,李超|郑莉|杨晶|徐明星,T_李超|T_郑莉|T_杨晶|T_徐明星,A
3,我能从清华大学的哪门课中学到线性结构这个概念？,我能从[S_TsinghuaX]的哪门课中学到[K_线性结构_计算机科学技术]这个概念？,学校_课程_概念,S_TsinghuaX,数据结构下|C++语言程序设计进阶 |数据结构上,A
4,我想学习贝叶斯方法和极大点，应该学习哪门课？,我想学习[K_贝叶斯方法_管理科学技术]和[K_极大点_数学]，应该学习哪门课？,概念_课程_概念,大数据机器学习,C_course-v1:TsinghuaX+70240403+2019_T1,A

In [46]:
df_multihop_B.head()

,0,1,2,3,4,5
0,邱泽琼和陆秀贞都选了数据结构上这门课对么？,[U_685182]和[U_2464581]都选了[C_course-v1:Tsinghua...,用户_课程_用户,是,None,B
1,刘力坚的同学是不是有选过医学文献检索的？,[U_8452203]的同学是不是有选过[C_course-v1:CSU+CSU002+20...,用户_课程_用户_课程,是,None,B
2,数据结构下中的数据结构第8章第34节是不是讲述了最优性？,[C_course-v1:TsinghuaX+30240184_2X+sp]中的[V_00d...,课程_视频_概念,否,None,B
3,安运有没有学过停机问题？,[U_7082790]有没有学过[K_停机问题_数学]？,用户_视频_概念,是,None,B
4,童铮和苏鸿斌都选了数据结构上这门课对么？,[U_106182]和[U_10521268]都选了[C_course-v1:Tsinghu...,用户_课程_用户,是,None,B

In [47]:
df_multihop_C.head()

,0,1,2,3,4,5
0,链表在麻省理工学院学校开设的多少门课程中涉及了？,[K_链表_计算机科学技术]在[S_MITx]学校开设的多少门课程中涉及了？,学校_课程_概念,1,计算机科学和Python编程导论,C
1,王燕老师有多少个学生？,[T_王燕]老师有多少个学生？,老师_课程_用户,2,U_7007487|U_2232785,C
2,徐明星讲的课中同时包含数据类型和输入输出的视频有多少？,[T_徐明星]讲的课中同时包含[K_数据类型_计算机科学技术]和[K_输入输出_计算机科学技...,老师_概念_视频,3,V_e9965cd7ae1943ad901b616e76702b6e|V_2a8b4c562...,C
3,钱万正讲的课中同时包含程序设计和异常的视频有多少？,[T_钱万正]讲的课中同时包含[K_程序设计_计算机科学技术]和[K_异常_计算机科学技术]...,老师_概念_视频,3,V_a02b98c458f64a67ab26d232ba06a37e|V_2e8429c81...,C
4,范成俊和陆秀贞共同选过多少门课？,[U_8035863]和[U_2464581]共同选过多少门课？,用户_课程_用户,2,C_course-v1:MITx+6_00_1x+sp|C_course-v1:Tsingh...,C

### '1_hop_files

In [48]:
# MOOCCQA - 1Hop folder
df_1hop = pd.read_csv(r"\MOOCCube\MOOCQA\1_hop\1hop.txt", sep="	", header=None)
df_1hop_A = pd.read_csv(r"\MOOCCube\MOOCQA\1_hop\1hop_A.txt", sep="	", header=None)
df_1hop_B = pd.read_csv(r"\MOOCCube\MOOCQA\1_hop\1hop_B.txt", sep="	", header=None)
df_1hop_C = pd.read_csv(r"\MOOCCube\MOOCQA\1_hop\1hop_C.txt", sep="	", header=None)

In [49]:
df_1hop.head()

,0,1,2,3,4,5
0,王大亮是否开了病理学这门课？,[T_王大亮]是否开了[C_course-v1:TsinghuaX+20190222+201...,老师_课程,是,None,B
1,标准元是哪些课程的重要概念？,[K_标准元_数学]是哪些课程的重要概念？,概念_课程,计算机科学和Python编程导论,C_course-v1:MITx+6_00_1x+sp,A
2,乔凤娟是不是看过操作系统第21章第2节？,[U_6631970]是不是看过[V_c1cffea66a8e4e0a94995a0ccf3...,用户_视频,否,None,B
3,宋平明是不是看过Java程序设计第3章第7节？,[U_2528802]是不是看过[V_0df0d734fcdb457e8afbf0c568b...,用户_视频,是,None,B
4,任艳艳是不是看过操作系统第3章第6节？,[U_10544844]是不是看过[V_d0f017f794fc4118b60cc92475...,用户_视频,否,None,B

In [50]:
df_1hop_A.head()

,0,1,2,3,4,5
0,请问有哪些文献是关于数据组织的？,请问有哪些文献是关于[K_数据组织_计算机科学技术]的？,概念_论文,Preliminary Study on GIS Cognition and Data Or...,P_53e9b8fcb7602d97044e3708|P_56d88933dabfae2ee...,A
1,数据结构第8章第31节是来源于哪门课的视频？,[V_278a177bc648459e8d4e51d89294f138是来源于哪门课的视频？,视频_课程,数据结构下,C_course-v1:TsinghuaX+30240184_2X+sp,A
2,数据结构第12章第4节中讲了哪些重点？,[V_ce82591e304847ab9a50c4198ed97988]中讲了哪些重点？,视频_概念,向量|数据结构|后继,K_向量_数学|K_数据结构_数学|K_后继_数学,A
3,讲解边缘运算的好论文有哪些？,讲解[K_边缘运算_数学]的好论文有哪些？,概念_论文,Boundary Operators in Quantum Field Theory|A d...,P_53e9accbb7602d97036a5966|P_53e9b089b7602d970...,A
4,标准元是哪些课程的重要概念？,[K_标准元_数学]是哪些课程的重要概念？,概念_课程,计算机科学和Python编程导论,C_course-v1:MITx+6_00_1x+sp,A

In [51]:
df_1hop_B.head()

,0,1,2,3,4,5
0,看过数据结构第3章第13节视频的同学里有唐安国么？,看过[V_d52c98802bb348399e3226231216e226]视频的同学里有[...,视频_用户,否,None,B
1,李任伟是不是在学计算机科学和Python编程导论？,[U_1024835]是不是在学[C_course-v1:MITx+6_00_1x+sp]？,用户_课程,是,None,B
2,王婷媛选了操作系统这门课吗？,[U_8353367]选了[C_course-v1:TsinghuaX+30240243X+...,用户_课程,否,None,B
3,王大亮是否开了病理学这门课？,[T_王大亮]是否开了[C_course-v1:TsinghuaX+20190222+201...,老师_课程,是,None,B
4,赵军平是否开了信息素养——学术研究的必修课这门课？,[T_赵军平]是否开了[C_course-v1:TsinghuaX+THU201605X+2...,老师_课程,是,None,B

In [52]:
df_1hop_B.head()

,0,1,2,3,4,5
0,看过数据结构第3章第13节视频的同学里有唐安国么？,看过[V_d52c98802bb348399e3226231216e226]视频的同学里有[...,视频_用户,否,None,B
1,李任伟是不是在学计算机科学和Python编程导论？,[U_1024835]是不是在学[C_course-v1:MITx+6_00_1x+sp]？,用户_课程,是,None,B
2,王婷媛选了操作系统这门课吗？,[U_8353367]选了[C_course-v1:TsinghuaX+30240243X+...,用户_课程,否,None,B
3,王大亮是否开了病理学这门课？,[T_王大亮]是否开了[C_course-v1:TsinghuaX+20190222+201...,老师_课程,是,None,B
4,赵军平是否开了信息素养——学术研究的必修课这门课？,[T_赵军平]是否开了[C_course-v1:TsinghuaX+THU201605X+2...,老师_课程,是,None,B